
@{ ViewBag.Title = "Hackathon Links"; }
<h2>@ViewBag.Title</h2>


<ul>
    <li>
        <a href="https://github.atriacom.com/brian-gerdon/Hackathon">Hackathon GitHub repo</a>
    </li>
    <li>
        <a href="https://dev.fitbit.com/build/reference/web-api/activity/get-activity-log-list/">FitBit API reference</a>
    </li>
    <li>
        <a href="https://accounts.fitbit.com/login">Fitbit Account Login</a>
    </li>
    <li>
        <a href="https://dev.fitbit.com/build/reference/web-api/explore/">WebAPI Explorer</a>
    </li>
</ul>

