@model Fitbit.Models.Activity

@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity</h2>


<div class="spaced-div">
    <h3>Activity</h3>
    @*@Html.DisplayForModel()*@
    @Html.DisplayFor(model=>model.Summary)

</div>


